.create-note {
  float: left;
}
.column {
  float: left;
  padding: 10px;
  height: auto;
}
.left, .right {
  width: 25%;
}

.middle {
  width: 25%;
}
div {
  margin-left: 20px;
  margin-right: 50px;
}
